# Obsidian Cache
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/cache

# Plugins (Binaries nicht ins Repo)
.obsidian/plugins/*/main.js
.obsidian/plugins/*/styles.css

# OS
.DS_Store
Thumbs.db
